brotli==1.2.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.17
markdown-it-py==4.2.0
mdurl==0.1.2
mutagen==1.47.0
prompt_toolkit==3.0.52
pycryptodomex==3.23.0
Pygments==2.20.0
questionary==2.1.1
requests==2.34.2
rich==15.0.0
urllib3==2.7.0
wcwidth==0.7.0
websockets==16.0
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
